# for details on setting up the pki, see https://gist.github.com/cbusbey/5d9ecf00b49e135151590c1f3c6ad819
[DEFAULT]
SocketConnectHost=localhost
SocketConnectPort=5001
HeartBtInt=30
SenderCompID=TW
TargetCompID=ISLD
ResetOnLogon=Y
FileLogPath=tmp
SocketPrivateKeyFile=config/client0.key
SocketCertificateFile=config/client0.crt
SocketCAFile=config/ca.crt


[SESSION]
BeginString=FIX.4.0

[SESSION]
BeginString=FIX.4.1

[SESSION]
BeginString=FIX.4.2

[SESSION]
BeginString=FIX.4.3

[SESSION]
BeginString=FIX.4.4

[SESSION]
BeginString=FIXT.1.1
DefaultApplVerID=7
