[DEFAULT]
SocketConnectHost=localhost
HeartBtInt=30
ResetOnLogon=Y
FileLogPath=tmp
FileLogName=tradeclient.log
#SocketPrivateKeyFile=config/client0.key
#SocketCertificateFile=config/client0.crt
#SocketCAFile=config/ca.crt

#[SESSION]
#BeginString=FIX.4.0

#[SESSION]
#BeginString=FIX.4.1

#[SESSION]
#BeginString=FIX.4.2

#[SESSION]
#BeginString=FIX.4.3

[SESSION]
SocketConnectPort=5002
BeginString=FIX.4.4
SenderCompID=CUST2_Marketdata
TargetCompID=ANCHORAGE

[SESSION]
SocketConnectPort=5001
BeginString=FIX.4.4
SenderCompID=CUST2_Order
TargetCompID=ANCHORAGE

#[SESSION]
#BeginString=FIXT.1.1
#DefaultApplVerID=7

# New parameters for rate and parallel sessions
ParallelSessions=5          # Number of parallel sessions to run
NumSessions=3

[RATE]
OrdersPerSecond=5